@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-text-font: "Poppins", sans-serif;
  --secondary-text-font: "Lora", serif;
  --blog-font: "IBM Plex Sans", sans-serif;
  /* --primary-color: #0bbe64; */
  --primary-color: #be0b44;
  --dark: rgb(13, 17, 23);
  --error-text-color: #d32f2f;
  --text-white: #e5e7eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-text-font);
}

body {
  min-height: 100dvh;
  background-color: #0d1117;
}

header.heading {
  margin-bottom: 27px;
  padding: 10px;
}

header.heading h2 {
  font-size: clamp(1.4rem, 3vw, 3rem);
  color: var(--primary-color);
}

header.heading p {
  color: var(--text-white);
  font-family: var(--primary-font);
}
