@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --line-color: #434343;
  --primary-color: #be0b44;
  --primary-color: #0bbe64;
  --bg-primary: #212222;
  --bg-secondary: #2a2a2a;
  --dark: #0d1117;
  --text-100: #f7f8f9;
  --text-200: #eef0f3;
  --text-300: #d5dae1;
  --text-400: #bbc3cf;
  --text-500: #8896ab;

  --text-editor-bg: #f2f2f2;
}

:root {
  --primary-text-font: "Poppins", sans-serif;
  --secondary-text-font: "Lora", serif;
  --blog-font: "IBM Plex Sans", sans-serif;
  --secondary-text-font-2: "Inter", sans-serif;
  --primary-color: #0bbe64;
  --error-text-color: #d32f2f;

  --bg-primary: #f2f4f7;
  --bg-secondary: #fff;
  --line-color: #ced3da;
  --text-100: #111211;
  --text-200: #122112;
  --text-300: #313331;
  --text-400: #525151;
  --text-500: #676777;

  --text-editor-bg: white;
  --text-editor-toolbar: #e4ede4;

  --gradient-variant-1-primary: #007cf0;
  --gradient-variant-1-secondary: #00dfd8;

  --gradient-variant-2-primary: #ff0080;
  --gradient-variant-2-secondary: #7928ca;

  --gradient-variant-3-primary: #ff4d4f;
  --gradient-variant-3-secondary: #f9cb28;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-text-font);
}

body {
  min-height: 100dvh;
  overflow-x: hidden !important;
}

main:not(.public_main) {
  overflow-x: hidden;
  max-height: calc(100dvh - 60px);
  height: calc(100vh - 60px);
}

button {
  white-space: nowrap !important;
}

header.heading {
  margin-bottom: 27px;
  overflow: hidden;
}

header.heading h2 {
  font-size: clamp(1.4rem, 3vw, 3rem);
  color: var(--text-200);
  overflow: hidden;
  text-transform: capitalize;
}

header.heading p {
  color: var(--text-300);
  overflow: hidden;
  font-family: var(--primary-font);
  font-size: 14px;
}

.box{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--line-color);
  background: var(--bg-secondary);
}

.MuiAlert-message {
  width: 100% !important;
}

a.activeNavTab {
  /* color: red; */
  background-color: rgb(25, 25, 25);
}

/* Hide the default number input arrows */
input[type="number"].opt-num::-webkit-inner-spin-button,
input[type="number"].opt-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (max-width: 670px) {
  main {
    padding: 10px !important;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
}
