

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.g-10{
    gap: 10px;
}

.g-20{
    gap: 20px;
}

.grid-center{
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.font-blog{
    font-family: var(--blog-font);
}

.font-primary{
    font-family: var(--primary-text-font);
}

.color-text-white{
    color: var(--text-white);
}

.color-primary{
    color: var(--primary-color);
}

.color-ccc{
    color: #ccc;
}

.fw-500{
    font-weight: 500;
}

.fw-400{
    font-weight: 400;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}