div.articlesList-main {
  max-width: 800px;
  margin: 20px auto;

  .articlesList {
    gap: 4rem;
    flex-direction: column-reverse;
  }

  header {
    position: relative;
    align-items: center;
    h2 {
      font-size: clamp(1.4rem, 3vw, 3rem);
      color: var(--primary-color);
    }
  }

  article {
    header {
      h3 {
        a {
          font-size: clamp(1.4rem, 3vw, 3rem);
        }
      }
      .article-info {
        time {
          color: #aaa;
        }
        span {
          color: var(--text-white);
        }
      }
    }

    p.content {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.7rem;
    }
  }
}
