main.articlesList-main {
  max-width: 800px;
  margin: 100px auto 20px auto;

  .articlesList {
    gap: 4rem;
    flex-direction: column-reverse;
  }

  
  header{
      margin-bottom: 40px;
      h2 {
        font-size: clamp(1.4rem, 3vw, 3rem);
        color: var(--primary-color);
      }

      p{
        color: var(--text-white);
        font-family: var(--primary-font);
      }

  }

  article {
    header {
      h3 {
        a {
          font-size: clamp(1.4rem, 3vw, 3rem);
        }
      }

      .article-info {
        time {
          color: #aaa;
        }
        span {
          color: var(--text-white);
        }
      }
    }
  }
}
