div.create-article-main {
  form {
    // border: 1px solid var(--line-color);
    border-radius: 6px;
    padding: 10px;

    @media screen and (max-width: 670px) {
      padding: 0;
      border: none;
    }

    & > * {
      align-self: stretch;
    }

    .form-field {
      label {
        color: var(--text-200);
        font-size: 1.2rem;
      }

      textarea {
        resize: none;
        background-color: var(--text-editor-bg);
        border: 1px solid var(--line-color);
        padding: 10px 20px;
        font-size: 1rem;
        font-family: var(--blog-font);
        color: #232323;
        border-radius: 6px;
        line-height: 1.5rem;

        &:is(:focus, :active) {
          outline: 1px solid var(--primary-color);
        }
      }

      #article_content {
        border-radius: 8px;
        .ql-toolbar.ql-snow,
        .ql-toolbar.ql-snow + .ql-container.ql-snow {
          border-color: var(--line-color);
          border-radius: 8px;
        }

        .ql-toolbar.ql-snow {
          background: var(--text-editor-toolbar);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        .ql-container.ql-snow {
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
      }
    }

    .actionBtns {
      & > * {
        flex: 1 1 50px;
      }
    }
  }
}
