div.create-article-main {
 

  form {
    border: 1px solid var(--line-color);
    border-radius: 6px;
    padding: 10px;

    @media screen and (max-width: 670px){
      padding: 0;
      border: none;
    }

    & > * {
      align-self: stretch;
    }

    .form-field {
      label {
        color: var(--text-200);
      }

      textarea {
        resize: none;
        background-color: var(--bg-secondary);
        border: 1px solid var(--line-color);
        padding: 10px 20px;
        font-size: 1rem;
        font-family: var(--blog-font);
        color: var(--text-200);
        border-radius: 6px;
        line-height: 1.5rem;

        &:is(:focus, :active) {
          outline: 1px solid var(--primary-color);
        }
      }
    }

    .actionBtns {
      & > * {
        flex: 1 1 50px;
      }
    }
  }
}
