main.dash-section-main {
  margin-top: 60px;

  .section {
    margin-bottom: 4rem;
  }

  .greeting-section {
    margin-top: 30px;
    h3 {
      font-size: clamp(1.7rem, 3vw, 3rem);
      font-weight: 800;
      color: white;
    }

    p.message {
      font-size: 18px;
      margin-top: 20px;
      line-height: 1.5;
      font-weight: 400;
      color: var(--text-white);
      font-family: var(--primary-font);

      .highlight {
        color: #007bff;
      }
    }

    a {
      margin-top: 30px;
      align-self: flex-start;
      padding: clamp(5px, 3vw, 12px) clamp(12px, 5vw, 20px);
      background-color: var(--primary-color);
      box-shadow: 0 1px 10px var(0 0 0 / 0.8);
      color: white;
      border-radius: 12px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: 150ms ease-in;
      gap: 2px;

      span {
        font-size: 1.5rem;
        box-shadow: 0 5px 10px var(0 0 0 / 0.9);
      }

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  header.heading{
    margin-bottom: 2rem !important;

    h2{
      font-size: clamp(1.8rem, 3vw, 2.5rem);
    }
  }

  .myArticles-section {

    .dashArticles {
      & > * {
        flex: 1 1 400px;
      }

      article.singleArticle {
        header {
          h3 {
            a {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
            }
          }
        }
      }
    }

    .viewAll {
      margin-top: 10px;
      justify-content: flex-end;
      a {
        color: var(--primary-color);
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}
