div.dash-section-main {
  .profile-alert-wrapper {
    .action-btns {
      button {
        a {
          color: white;
          padding: 6px 16px;
        }
      }
    }
  }

  .section {
    margin-bottom: 2rem;
  }

  .greeting-section {
    h3 {
      font-size: clamp(1.7rem, 3vw, 3rem);
      font-weight: 600;
    }

    p.message {
      margin-top: 10px;
      line-height: 1.5;
      color: var(--text-300);
      font-family: var(--primary-font);

      .highlight {
        color: #007bff;
      }
    }
  }

  header.heading {
    margin-bottom: 2rem !important;

    h2 {
      font-size: clamp(1.8rem, 3vw, 2.5rem);
    }
  }

  .myArticles-section {
    .dashArticles {
      & > * {
        flex: 1 1 400px;
      }

      article.singleArticle {
        header {
          h3 {
            a {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
            }
          }
        }
      }
    }

    .viewAll {
      margin-top: 10px;
      justify-content: flex-end;
      a {
        color: var(--primary-color);
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}
