main.login-main{
    min-height: 100vh;
    padding: 20px;
}

main.signup-main{
    min-height: 100vh;
    padding: 20px;
}

.form-wrapper{
    width: 90%;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--line-color);

    @media screen and (max-width: 670px){
        margin: 0;
        width: 100%;
        border: none;
        padding: 0;
    }

    header{
        margin-bottom: 20px;
        img{
            display: block;
            width: 60px;
        }

        h2{
            font-weight: 300;
            color: var(--text-200);
            font-size: 1.4rem;
        }
    }

    form{
        width: 100%;
        max-width: 500px;
        a.forgetPwd{
            color: dodgerblue;
            width: fit-content;
            margin-top: 5px;
            align-self: flex-end;
        }
    }

    section.needAccount{
        p{
            color: var(--text-200);
        }

        a{
            color: dodgerblue;
        }
    }

    div.rememberMe{
        width: 100%;

        input{
            cursor: pointer;
            accent-color: var(--primary-color);
        }
        label{
            color: var(--text-200);
            margin-left: 8px;
            cursor: pointer;
        }
    }

}
