nav {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 5px 20px;
  background-color: rgb(13 17 23 / 0.8);
  backdrop-filter: blur(10px);

  .left-section {
    .logo-container {
      img {
        display: block;
        width: 50px;
      }
    }

    .links {
      ul {
        gap: 30px;
      }
      a {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--primary-text-font);

        &:is(:hover, :active),
        &.active {
          color: var(--primary-color);
        }
      }
    }
  }

  .right-section {
    .search-tab {
      a {
        border: 1px solid var(--text-white);
        border-radius: 10px;
        padding: 5px;
      }
    }

    a {
      font-size: 1rem;
      padding: 10px 15px;
      border-radius: 10px;
      // color: #232323;
      color: #fff;
      transition: 150ms ease;
      font-weight: 500;
    }

    a.signin {
      &:hover {
        color: var(--primary-color);
      }
    }

    a.signup {
      border: 2.5px solid #fff;

      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }

    &.loggedIn {
      .profile {
        cursor: pointer;
        position: relative;

        &.online::before {
          position: absolute;
          content: "";
          height: 8px;
          width: 8px;
          z-index: 9;
          border: 2px solid var(--dark);
          background-color: #0bbe64;
          border-radius: 50%;
          top: 0;
          right: 0;
        }
      }
      // position: relative;
      p {
        color: var(--text-white);
        font-family: var(--primary-text-font);
      }

      .features {
        position: absolute;
        top: 115%;
        right: 0;

        background: #202123;
        border-radius: 8px;
        border: #676776;
        padding: 5px;
        transform: translateY(-10px);
        visibility: hidden;
        pointer-events: none;

        &.open {
          transition: 150ms ease-out;
          transform: translateY(0);
          visibility: visible;
          pointer-events: all;
        }

        ul {
          // gap: 30px !important;
          li {
            white-space: nowrap;
            padding: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 0.9rem;
            color: var(--text-white);

            a {
              // white-space: nowrap;
              font-weight: 400;
              padding: 0;
              font-size: 0.9rem;
              color: var(--text-white);

              &.active,
              &:is(:hover, :active) {
                color: var(--primary-color);
              }
            }

            &.logout {
              font-weight: 400;
              cursor: pointer;
            }

            &.accountName {
              pointer-events: none;
            }

            &:hover {
              color: var(--primary-color);

              a {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  nav {
    .left-section {
      .links {
        position: absolute;
        top: 100%;
        background-color: rgb(0 0 0 / .5);
        backdrop-filter: blur(10px);
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        justify-content: center;
        transform: scaleY(0);

        &.open{
          transform: scaleY(1);
        }


        ul {
          flex-direction: column;
          margin-top: 20px;
          width: fit-content;
          align-self: flex-start;
          // max-width: 300px;
          padding: 10% 20%;
          border-radius: 10px;
          background: #232323;
          transform: translateY(-10px);
          transition: 150ms ease-in-out;

          &.open{
            transform: translateY(0);
          }
        }
      }
    }

    .right-section {

        padding-right: 3rem;
      

      .hamburger-container {
        --burger-menu-radius: 4em;
        
        position: fixed;
        top: -3px;
        right: 0;
        z-index: 100;
        display: block;
        width: var(--burger-menu-radius);
        height: var(--burger-menu-radius);
        outline: none;
        cursor: pointer;

        .line {
          position: absolute;
          left: 25%;
          width: 50%;
          height: 3px;
          background: var(--text-white);
          border-radius: 10px;
          overflow: hidden;
          transition: 0.5s;

          &:nth-child(1) {
            top: 35%;
          }

          &:nth-child(2) {
            top: 50%;
          }

          &:nth-child(3) {
            top: 65%;
          }

          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--primary-color);
            transform: translateX(-100%);
            transition: 0.25s;
          }

          @for $i from 2 through 3 {
            &:nth-child(#{$i})::after {
              transition-delay: 0.1s * ($i - 1);
            }
          }
        }

        &:hover {
          .line::after {
            transform: translateX(0);
          }
        }

        &.open {
          .line {
            &::after {
              transform: translateX(0);
            }

            &:nth-child(1) {
              top: 50%;
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              transform: scaleX(0);
            }

            &:nth-child(3) {
              top: 50%;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
