nav.public_nav {
  backdrop-filter: blur(8px);
}

main.public_main {
  overflow: hidden;

  header.main_head {
    animation: fade-down 450ms ease-out;
    animation-delay: 150ms;
    h1 {
      font-family: var(--secondary-text-font-2);
      line-height: 1.2;

      span {
        font-family: var(--secondary-text-font-2);
        color: transparent;
        line-height: 1.1;
        font-weight: 900;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        transition: all ease-in-out 200ms;
        background: var(--text-100);
      }

      span:first-child {
        --start-color: #007cf0;
        --end-color: #00dfd8;
        animation: bg-animate 6s ease-in-out infinite;
      }
      span:nth-child(2) {
        --start-color: #7928ca;
        --end-color: #ff0080;
        animation: bg-animate 6s ease-in-out infinite;
        animation-delay: 2s;
      }
      span:last-child {
        --start-color: #ff4d4f;
        --end-color: #f9cb28;
        animation: bg-animate 6s ease-in-out infinite;
        animation-delay: 4s;
      }

      @keyframes bg-animate {
        0%,
        100% {
          background: linear-gradient(
            90deg,
            var(--start-color),
            var(--end-color)
          );
        }
        33%,
        66% {
          background: var(--text-100);
        }
      }

      @media screen and (max-width: 1000px) {
        flex-direction: column !important;
        font-size: 5.7rem;
      }
      @media screen and (max-width: 400px) {
        font-size: 4rem !important;
      }
    }

    p {
      color: var(--text-400);
      font-size: clamp(1.3rem, 2.8vw, 1.3rem);

      span {
        color: var(--text-100);
      }
    }

    .actions {
      margin-top: 3rem;

      
      a {
        padding: 8px 22px;
        min-width: 170px;
        text-transform: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--bg-primary);
        width: fit-content;
        font-weight: 600;
        font-size: 1rem;
        border: 2px solid;
        transition: all 250ms ease-out;
       
      }

      a:first-child {
        color: #0a0a0a;
        border-color: transparent;
        background-color: white;
      }

      a:nth-child(2) {
        color: var(--text-100);
        animation: animate-btn 6s ease-in-out infinite;

        @keyframes animate-btn {
          0%,
          100% {
            border-color: #007cf0;
            box-shadow: 0 0 35px 8px #007cf055;
          }
          33% {
            border-color: #7928ca;
            box-shadow: 0 0 35px 8px #7928ca55;
          }
          66% {
            border-color: #ff4d4f;
            box-shadow: 0 0 35px 8px #ff4d4f55;
          }
        }
      }
    }

    @media screen and (max-width: 550px) {
      h1 {
        font-size: 5rem;
      }

      .actions {
        flex-direction: column;
        a {
          width: 100%;
        }
      }
    }

    @keyframes fade-down{
      from{
        transform: translateY(-15px);
        opacity: 0;
      }to{
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

header.heading {
  h2 {
    color: var(--text-100);
    font-size: clamp(1.5rem, 3vw, 2rem);
  }

  p {
    color: var(--text-300);
    font-size: 12px !important;
  }
}

.trustAndVerified-wrapper {
  .organizations {
    .duplicate {
      display: none;
    }
  }

  @media screen and (max-width: 880px) {
    .brands-wrapper {
      overflow: hidden;
      display: flex;
      align-items: center;
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 30px;
        height: 100%;
        box-shadow: 5px 0 15px 10px var(--bg-primary);
        background-color: var(--bg-primary);
        z-index: 1;
      }

      &::after {
        left: auto;
        right: 0;
        box-shadow: -5px 0 15px 10px var(--bg-primary);
      }

      .organizations {
        animation: circularHorizontalScroll 20s linear infinite;
        .duplicate {
          display: flex;
        }
      }
    }
  }

  @keyframes circularHorizontalScroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
